:root {
    --main-color: #ffffff;
    --secondary-color: #071629;
    --third-color: #c271ff;
}

* {
    margin: 0;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1103.41px;
    height: 29.46px;
    padding: 40.58px 168.295px;
}

header img {
    width: 167.02px;
    height: 29.46px;
}

body {
    width: 1440px;
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--main-color);
    height: 1093px;
    /* Safari 5.1, iOS 5.0-6.1, Chrome 10-25, Android 4.0-4.3 */
    /* background: 
        -webkit-radial-gradient(85.9% 85.9% at 50% 14.1%, rgba(41, 48, 61, 0.0001) 0%, #071629 100%), 
        url("./images/img-bg.png") center/cover no-repeat;
    background: 
        radial-gradient(85.9% 85.9% at 50% 14.1%, rgba(41, 48, 61, 0.0001) 0%, #071629 100%), 
        url("./images/img-bg.png") center/cover no-repeat; */
    background-color: var(--main-color);
    background-image: url("./images/img-bg.png");

    background-repeat: no-repeat;
}

a {
    text-decoration: none; 
    font-size: 12px;
    font-weight: 700; 
    color: #FFFFFF;
    font-family: 'Source Sans Pro', sans-serif;
}


.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 234px;
    height: 15px;
}

.main_part {
    margin-top: 110px;
    margin-left:-8px ;
    height: 262px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.main_part h1 {
    text-align: center;
    font-size: 120px;
    font-weight: 700px;
}

.main_part p {
    text-align: justify;
   -webkit-text-align-last: justify;
    text-align-last: justify; 
    width: 253px;
    height: 20px;
    font-size: 16px;
    font-weight: 700;
}

button {
    filter: drop-shadow(0px 2px 20px rgba(0, 0, 0, 0.5));
    background: #C271FF;
    border-radius: 22px;
    font-style: normal;
    font-size: 14px;
    text-align: center;
    color: inherit;
    font: inherit;
    border: none;
    width: 162px;
    height: 44px;
    cursor: pointer;
}

.main_part button {
    margin-top: 30px;
    width: 162px;
    height: 44px;
    border-radius: 22px;
    background-color: #C271FF;
    color: #FFFFFF;
    border: none;
    font-family: 'Source Sans Pro', sans-serif; 
    font-weight: 600;
    font-size: 14px;
    box-shadow: 3px 3px 10px 3px rgba(0.25,0.25,0.25,0.25);
}

.main_part h2 { 
    position: absolute;
    height: 40px;
    left: 50%;
    transform: translateX(-50%);
    right: 39.93%;
    top: 631px;
    width: 261px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
}

.subtitle {
    color: var(--third-color);
    font-weight: bold;
}

.pros {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar {
    margin-top: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1009px;
    height: 237px;
}

.avatar div {
    width: 150px;
    height: 237px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    line-height: 0;
    
}
.avatar div img {
    max-width: 100%; 
    height: auto; 
    border-radius: 50%;
}

.avatar div h2 {
    height: 27px;
    line-height: 27px;
    font-size: 18px;
}
.avatar div p {  
    height: 48px;
    line-height: 24px;
    font-style: italic;
    font-size: 16px;
    text-align: center;
}

.testimonials {
    margin-top: 115px;  
    width: 100%;
    background-color: #c271ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 392px;
}

.testimonials img {
    position: absolute;
    border-radius: 50%;
    width: 160px;
    height: 160px;
    left: 259px;
    top: 1201px;
}
.testimonials_bq {
    position: absolute;
    width: 730px;
    height: 158px;
    left: 472px;
    top: 1203px;
}

blockquote {
    font-size: 22px;
    font-weight: 400;
}

#person {
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
}

#job {
    font-size: 22px;
    font-style: italic;
}

.tutorials {
    background-color: var(--main-color);
    position: absolute;
    width: 1228px;
    height: 1000px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tutorials_content {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 58px;
    top: 115px;
    margin-top: 0;
}

.tutorials h1 {
    text-align: center;
    color: var(--secondary-color);
    font-weight: 300;
    font-size: 32px;
}

.tutorials h2 {
    color: var(--secondary-color);
    font-size: 16px;
    font-weight: bold;
}

.tutorials_preview {
    position: relative;
    margin-top: 0;
    margin-right: 30px;
    width: 255px;
}

.tutorials_preview h2 {
    margin: 10px 0 10px 10px
}

.tutorials_preview p {
    margin: 10px 0 0 10px;
    color: rgba(7, 22, 41, 0.501584);
    font-weight: 400;
    font-size: 14px;
    width: 242px;
    line-height: 24px;
}

img.play {
    position: absolute;
    left: 100px;
    top: 100px;
    width: 64px;
    height: 64px;
    cursor: pointer;
}

img.preview {
    margin-top: 50px;
}

.img_rate {
    display: flex;
    justify-content:flex-start;
}
.img_rate img {
    margin-left: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: 10px;
}

.img_rate h3 {
    color: var(--third-color);
    font-weight: 600;
    font-size: 14px;
    margin: 15px 0 0 10px
}

.star_rate_content {
    display: flex;
    justify-content: space-between;
}

.star_rate {
    width: 400px;
}
.star_rate img{
    margin: 10px 0 0 10px;
}

.star_rate_content p {
    color: var(--third-color);
    text-align: right;
}

.membership {
    background-color: var(--secondary-color);
    position: absolute;
    width: 1440px;
    height: 502px;
    left: 50%;
    transform: translateX(-50%);
    top: 2109px;
}

.membership h1 {
    margin-top: 80px;
    color: var(--main-color);
    font-weight: 300;
    font-size: 32px;
    text-align: center;  
}

.membership_content {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.membership_content_button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 100px;
    font-size: small;
}

.membership_smile {
    width: 257px;
    height: 153px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.membership_smile h2 {
    font-size: 18px;
    font-weight: 400;
}

.membership_smile p {
    font-size: 14px;
    padding: 15px;
    line-height: 26px;
}

.faq {
    position: absolute;
    top: 2678px;
    width: 920px;
    height: 707px;
    background-color: var(--main-color);
    color: var(--secondary-color);
    left: 50%;
    transform: translateX(-50%);
}

.faq h1 {
    text-align: center;
    font-size: 60px;
    font-weight: 300;
}

.faq_content {
    display: flex;
    flex-direction: column;
}

.faq_content_col {
    display: flex;
    justify-content: space-between;
}

.faq_content_txt {
    margin-top: 70px;
    width: 350px;
    height: 242px;
}

.faq_content_txt h2 {
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: bold;
}

.faq_content_txt p {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: rgba(7, 22, 41, 0.501584);
}

footer {
    position: absolute;
    top: 3469px;
    height: 249px;
    width: 1440px;
    background-color: var(--secondary-color);
}

.footer_logo {
    position: absolute;
    top: 95px;
    left: 165px;
}

.footer_socialmedia {
    position: absolute;
    left: 1070px;
    top: 90px;
}

.footer_socialmedia img {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.footer_copyright {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 195px;
    opacity: 0.35;
    font-size: 12px;
}